.grid {
  display: grid;
  width: 100%;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid__item {
  min-width: 0;
  margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-gap: .6em;
    grid-template-columns: 1fr 1fr;
  }
}
