.sidebar {
    position: relative;
    display: grid;

    width: 22%;

    box-sizing: border-box;
    float: left;
    grid-gap: .3em;
    grid-template-columns: 1fr;
}

.sidebar__item {
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: flex;

        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 1em;
        gap: .2em;
    }

    .sidebar__item {
        width: auto;
    }
}