.label {
  display: block;
}

.label--images {
  margin-top: 2em;
}

.images {
  display: grid;
  width: 60vw;
  margin-top: 0 !important;
  grid-gap: 1%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .images {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
