.button--padded-1 {
  padding: 5px 18px;
}

.button--margin-1 {
  margin-top: 2em;
}

.button--margin-2 {
  margin-bottom: 2em;
}

.button--rounded {
  border-radius: 4px;
}

.button--contrast {
  border: 1px solid #555;
  background: #fff;
}

.button--contrast:not([disabled]):hover {
  filter: brightness(.6);
}

.button--theme {

  border: 1px solid #000;
  background: var(--thematic-color-4);
  /* box-shadow: inset 0 -1px 3px #000; */
  color: var(--thematic-color-3);
  font-weight: bold;
}

.button--theme:not([disabled]):hover {
  filter: contrast(50%);
}

.button--default {
  border: 1px solid #888;
  background: #fff;

  /* box-shadow: inset 0 -1px 2px #666; */
  color: #000;
}

.button--default:not([disabled]):hover {
  background: #ddd;
}

.button--confirm {
  background: #00aa00;
  color: #fff;
}

.button--confirm:not([disabled]):hover {
  background: #22cc22;
}
