.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid__photo {
  height: calc(80vw/4);
}

@media screen and (max-width: 600px) {
  .grid {
    grid-gap: .3em;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid__photo {
    height: calc(100vw/3);
  }
}